@model GPT.Models.Question
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chat GPT</h1>
    <p>Ask me anything</p>
</div>

@using (Html.BeginForm("ChatGPT", "Home", FormMethod.Post))
{


    <div class="form-group">

        @Html.LabelFor(m => m.message)
        @Html.TextBoxFor(m => m.message, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.message)



        <div style="float:right; margin-top:10px;">
            <button id="generateButton" type="submit" class="btn btn-primary">Generate response</button>
            <button type="button" class="btn btn-outline-success">Clear</button>
        </div>
    </div>
}







<div style="margin-top:150px;">
    <h1>Output</h1>
    <p id="outputArea">Response:</p>
</div>


<script>

    function generateGptResponse() {

        // client side call a controller function
        $.ajax({
            url: "@Url.Action("ChatGPT", "Home")",
            data: { "name": $("#textArea").val() },
            // Return the res of the function
            success: function (result) {

                // display the res on the view
                document.getElementById("outputArea").innerHTML = result.response;
            },

            //Display any errors
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });





    }


    function clear() {

        document.getElementById("outputArea").innerHTML = "";
        // document.getElementById("textArea").value = "";
    }
</script>